html {
  background: #fff;
}

.backfaceVisibility {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

.fbpics {
   padding: 0px 0px 0px 0;
   border: 1px solid #fff;
   outline: 1px solid #000;
   margin: 2px;
   width: 211px;
   height: 206px;
   display: block;
}

.famous-container {
  top: 87px;
  z-index: 2;
}

/*#contentCol {
  z-index: -5;
}

#pagelet_timeline_main_column {
  z-index: -5;
}*/

/*.fbpics {
  positiion: relative;
  clip: rect(0, 100px, 100px, 0);
}*/